.resume-container {
  color: WHITE;
  text-align: center;
  padding-top: 2%;
}

#resume-logo {
  width: 80px;
  height: 80px;
  padding-top: 2%;
}

#resume-header {
  font-size: 50px;
}

#col1 {
  float: left;
  margin-left: 8%;
}

#col2 {
  float: right;
  margin-right: 12%;
  padding-top: 2%;
}

.col1-divs {
  width: 80%;
  padding: 25px;
  border-bottom: 1px solid;
  padding-bottom: 10%;
}

.col2-divs {
  width: 80%;
  padding: 25px;
  border-bottom: 1px solid;
  padding-bottom: 10%;
}
