#home-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 70%;
  -webkit-filter: blur(1px);
}

.home-intro {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: WHITE;
  text-align: center;
}

#intro-intro {
  font-size: 30px;
}

#intro-name {
  font-size: 60px;
}
