#phonelogo {
  width: 80px;
  height: 80px;
  padding-top: 2%;
}

.contact-container {
  text-align: center;
}

#contact-header {
  color: #FFF;
  font-size: 50px;
}

.reachme-logos {
  height: 150px;
  width: 150px;
  padding-right: 50px;
  padding-left: 60px;
}

.reachme-info {
  color: White;
  padding-right: 55px;
  padding-left: 50px;
}
