body {
  background-color: #e7e7e7;
  margin: 0;
}

h1, h2, p, ul, li {
  font-family: sans-serif;
}

#main-name {
  color: #E7DFDD;
  padding-top: 15%;
  padding-bottom: 15%;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header {
  background-color: #1c262b;
  /* padding: 0; */
  height: 100%;
}

ul.header li a {
  font-family: 'Muli', sans-serif;
  color: #E7DFDD;
  font-weight: bold;
  text-decoration: none;
  padding: 35px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: block;
  width: 80px;
  float: left;
  text-align: center;
  overflow: auto;
  border-bottom: .5px solid #2a343a;
}


.header {
  width: 200px;
  position: fixed;
  margin: 0;
}

.content {
  float: right;
  background-color: #e7e7e7;
  height: 90%;
  width: 90%;
}

.content h2 {
  padding: 0;
  margin: 0
}

.content li {
  margin-bottom: 10px;
}

.active {
  background-color: #334454;
}
