.aboutme-container {
  color: #334454;
  text-align: center;
  padding-top: 2%;
}

.aboutme-container p {
  color: #848b8e;
}

#aboutmelogo {
  width: 80px;
  height: 80px;
}

.skill-logo {
  width: 160px;
  height: 150px;
  padding: 40px;
}

#about-header {
  font-size: 50px;
}
